@import "~@microsoft/sp-office-ui-fabric-core/dist/sass/SPFabricCore.scss";

.mermaidWebPart {
  text-align: center;
}

:global {
  svg .label {
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
      sans-serif;
    color: $ms-color-neutralPrimary;
  }

  svg text {
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
      sans-serif !important;
    color: $ms-color-neutralPrimary;
  }

  svg .node rect,
  svg .node circle,
  svg .node ellipse,
  svg .node polygon {
    fill: $ms-color-themeLight;
    stroke: $ms-color-themePrimary;
    stroke-width: 1px;
  }

  svg .node.clickable {
    cursor: pointer;
  }

  svg .arrowheadPath {
    fill: $ms-color-themeDark;
  }

  svg .edgePath .path {
    stroke: $ms-color-themeDark;
    stroke-width: 1.5px;
  }

  svg .edgeLabel {
    background-color: $ms-color-infoBackground;
    color: $ms-color-infoText;
  }

  svg .cluster rect {
    fill: $ms-color-themeLighter !important;
    stroke: $ms-color-themePrimary !important;
    stroke-width: 1px !important;
  }

  svg .cluster text {
    fill: $ms-color-neutralPrimary;
  }

  svg div.mermaidTooltip {
    position: absolute;
    text-align: center;
    max-width: 200px;
    padding: 2px;
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
      sans-serif;
    font-size: 12px;
    background: $ms-color-themeLighter;
    border: 1px solid $ms-color-themePrimary;
    border-radius: 2px;
    pointer-events: none;
    z-index: 100;
  }

  svg .actor {
    stroke: $ms-color-themePrimary;
    fill: $ms-color-themeLight;
  }

  svg text.actor {
    fill: $ms-color-black;
    stroke: none;
  }

  svg .actor-line {
    stroke: $ms-color-neutralPrimary;
  }

  svg .messageLine0 {
    stroke-width: 1.5;
    stroke-dasharray: "2 2";
    stroke: $ms-color-neutralPrimary;
  }

  svg .messageLine1 {
    stroke-width: 1.5;
    stroke-dasharray: "2 2";
    stroke: $ms-color-neutralPrimary;
  }

  svg #arrowhead {
    fill: $ms-color-neutralPrimary;
  }

  svg #crosshead path {
    fill: $ms-color-neutralPrimary !important;
    stroke: $ms-color-neutralPrimary !important;
  }

  svg .messageText {
    fill: $ms-color-neutralPrimary;
    stroke: none;
  }

  svg .labelBox {
    stroke: $ms-color-themeDark;
    fill: $ms-color-themeLight;
  }

  svg .labelText {
    fill: $ms-color-black;
    stroke: none;
  }

  svg .loopText {
    fill: $ms-color-black;
    stroke: none;
  }

  svg .loopLine {
    stroke-width: 2;
    stroke-dasharray: "2 2";
    stroke: $ms-color-themeDark;
  }

  svg .note {
    fill: #fff4ce; //$ms-color-warningBackground;
    color: $ms-color-warningText;
    stroke: $ms-color-warning;
  }

  svg .noteText {
    fill: $ms-color-black;
    stroke: none;
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
      sans-serif;
    font-size: 14px;
  }

  svg .activation0 {
    fill: $ms-color-neutralLighter;
    stroke: $ms-color-neutralDark;
  }

  svg .activation1 {
    fill: $ms-color-neutralLighter;
    stroke: $ms-color-neutralDark;
  }

  svg .activation2 {
    fill: $ms-color-neutralLighter;
    stroke: $ms-color-neutralDark;
  }

  svg .section {
    stroke: none;
    opacity: 0.2;
  }

  svg .section0 {
    fill: $ms-color-themePrimary;
  }

  svg .section2 {
    fill: $ms-color-themePrimary;
  }

  svg .section1,
  svg .section3 {
    fill: $ms-color-white;
    opacity: 0.2;
  }

  svg .sectionTitle0 {
    fill: $ms-color-neutralPrimary;
  }

  svg .sectionTitle1 {
    fill: $ms-color-neutralPrimary;
  }

  svg .sectionTitle2 {
    fill: $ms-color-neutralPrimary;
  }

  svg .sectionTitle3 {
    fill: $ms-color-neutralPrimary;
  }

  svg .sectionTitle {
    text-anchor: start;
    font-size: 11px;
    text-height: 14px;
  }

  svg .grid .tick {
    stroke: $ms-color-neutralPrimary;
    opacity: 0.3;
    shape-rendering: crispEdges;
  }

  svg .grid path {
    stroke-width: 0;
  }

  svg .today {
    fill: none;
    stroke: $ms-color-red;
    stroke-width: 2px;
  }

  svg .task {
    stroke-width: 2;
  }

  svg .taskText {
    text-anchor: middle;
    font-size: 11px;
  }

  svg .taskTextOutsideRight {
    fill: $ms-color-black;
    text-anchor: start;
    font-size: 11px;
  }

  svg .taskTextOutsideLeft {
    fill: $ms-color-black;
    text-anchor: end;
    font-size: 11px;
  }

  svg .taskText0,
  svg .taskText1,
  svg .taskText2,
  svg .taskText3 {
    fill: $ms-color-white;
  }

  svg .task0,
  svg .task1,
  svg .task2,
  svg .task3 {
    fill: #487e3a;
    stroke: $ms-color-themePrimary;
  }

  svg .taskTextOutside0,
  svg .taskTextOutside2 {
    fill: $ms-color-black;
  }

  svg .taskTextOutside1,
  svg .taskTextOutside3 {
    fill: $ms-color-black;
  }

  svg .active0,
  svg .active1,
  svg .active2,
  svg .active3 {
    fill: $ms-color-themeLight;
    stroke: $ms-color-themePrimary;
  }

  svg .activeText0,
  svg .activeText1,
  svg .activeText2,
  svg .activeText3 {
    fill: $ms-color-black !important;
  }

  svg .done0,
  svg .done1,
  svg .done2,
  svg .done3 {
    stroke: $ms-color-neutralPrimary;
    fill: $ms-color-neutralLight;
    stroke-width: 2;
  }

  svg .doneText0,
  svg .doneText1,
  svg .doneText2,
  svg .doneText3 {
    fill: $ms-color-black !important;
  }

  svg .crit0,
  svg .crit1,
  svg .crit2,
  svg .crit3 {
    stroke: #ff8888;
    fill: $ms-color-red;
    stroke-width: 2;
  }

  svg .activeCrit0,
  svg .activeCrit1,
  svg .activeCrit2,
  svg .activeCrit3 {
    stroke: #ff8888;
    fill: $ms-color-themeLight;
    stroke-width: 2;
  }

  svg .doneCrit0,
  svg .doneCrit1,
  svg .doneCrit2,
  svg .doneCrit3 {
    stroke: #ff8888;
    fill: $ms-color-neutralLight;
    stroke-width: 2;
    cursor: pointer;
    shape-rendering: crispEdges;
  }

  svg .doneCritText0,
  svg .doneCritText1,
  svg .doneCritText2,
  svg .doneCritText3 {
    fill: $ms-color-black !important;
  }

  svg .activeCritText0,
  svg .activeCritText1,
  svg .activeCritText2,
  svg .activeCritText3 {
    fill: $ms-color-black !important;
  }

  svg .titleText {
    text-anchor: middle;
    font-size: 18px;
    fill: $ms-color-black;
  }

  svg g.classGroup text {
    fill: $ms-color-themePrimary;
    stroke: none;
    font-family: "Segoe UI Web (West European)", Segoe UI, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue,
      sans-serif;
    font-size: 10px;
  }

  svg g.classGroup rect {
    fill: $ms-color-themeLight;
    stroke: $ms-color-themePrimary;
  }

  svg g.classGroup line {
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg .classLabel .box {
    stroke: none;
    stroke-width: 0;
    fill: $ms-color-themeLight;
    opacity: 0.5;
  }

  svg .classLabel .label {
    fill: $ms-color-themePrimary;
    font-size: 10px;
  }

  svg .relation {
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
    fill: none;
  }

  svg #compositionStart {
    fill: $ms-color-themePrimary;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #compositionEnd {
    fill: $ms-color-themePrimary;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #aggregationStart {
    fill: $ms-color-themeLight;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #aggregationEnd {
    fill: $ms-color-themeLight;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #dependencyStart {
    fill: $ms-color-themePrimary;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #dependencyEnd {
    fill: $ms-color-themePrimary;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #extensionStart {
    fill: $ms-color-themePrimary;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg #extensionEnd {
    fill: $ms-color-themePrimary;
    stroke: $ms-color-themePrimary;
    stroke-width: 1;
  }

  svg .commit-id,
  svg .commit-msg,
  svg .branch-label {
    fill: $ms-color-neutralLight;
    color: $ms-color-neutralLight;
  }

  // svg .node rect {
  //   fill: $ms-color-infoBackground;
  //   color: $ms-color-infoText;
  //   stroke: $ms-color-info;
  // }
}
